<%- include ('../partials/header') %>
<%- include ('../partials/menu_top') %>
<li class="nav-item nav-secondary">
    <a class="nav-link" href="/home">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" aria-current="page" href="/market">Market</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/account">Account</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/help">Help</a>
</li>
<%- include ('../partials/menu_bottom') %>

<main class="container h-75">
    <div class="container h-100 d-flex flex-column align-items-center justify-content-center fs-2">
        <h1 class="mb-3">Account Overview</h1>
        <div class="card w-50 rounded bg-dark">
            <table class="table w-100 table-dark">
                <tbody>
                    <trs>
                        <tr>
                            <th scope="row">Username</th>
                            <td class="text-end text-warning"><%- username%></td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td class="text-end text-warning"><%- first_name%> <%- last_name%></td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td class="text-end text-warning"><%- email%></td>
                        </tr>
                        <tr>
                            <th scope="row">Meals</th>
                            <td class="text-end text-warning">19</td>
                        </tr>
                </tbody>
            </table>
        </div>
        <form class="w-50" action="/delete_user" method="post">
            <div class="col-md-12 w-100">
                <button class="btn btn-danger text-uppercase w-100" type="submit">Delete Account</button>
            </div>
        </form>
    </div>

</main>
<%- include ('../partials/footer') %>