<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main class="container h-75">
    <div class="container h-100 d-flex flex-column align-items-center justify-content-center fs-2">
        <table class="table w-50 mb-5">
            <tbody>
                <trs>
                    <th scope="row">Username</th>
                    <td class="text-end"><%- username%></td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td class="text-end"><%- first_name%> <%- last_name%></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td class="text-end"><%- email%></td>
                    </tr>
                    <tr>
                        <th scope="row">Meals</th>
                        <td class="text-end">19</td>
                    </tr>
            </tbody>
        </table>

        <form class="w-50" action="/delete_user" method="post">
            <div class="col-md-12 w-100">
                <button class="btn btn-danger text-uppercase w-100" type="submit">Delete Account</button>
            </div>
        </form>
    </div>

</main>
<%- include ('../partials/footer') %>